<!DOCTYPE html>
<html>
<head>
	<title>chat</title>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
	<script src="{{ url_for('static', filename='js/titlealert.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/ion.sound.min.js') }}" type="text/javascript"></script>
</head>
<body>
	<div class="container-fluid">
		<p><b>hi, {{ user }}</b></p>
		<iframe src="{{ url_for('online') }}" style="border:0; width:100%; height:40px;"></iframe>
		</small>
		<p>Message: <input class="form-control" id="in" /></p>
		<div id="out"></div>
		<div class="old">
		{% for msg in msgs %}
			<p class="chatmsg"><strong>{{msg.usr}}:</strong> {{ msg.msg }}<br><small style="color:#ccc;">{{ msg.time.strftime('%H:%m %d/%m/%Y') }}</small></p>
		{% endfor %}
		</div>
		<script>
		document.domain = '{{ home_url() }}';

			function sse() {
				var source = new EventSource('/stream');
				var out = document.getElementById('out');
				//play sound on msg
				var audio = new Audio('{{ url_for("static", filename="notification.mp3") }}');

				source.onmessage = function(e) {
					// XSS in chat is fun
					out.innerHTML =  e.data + '' + out.innerHTML;

					//set title on msg
					var titl = e.data.replace(/<\/?[^>]+(>|$)/g, "");
					document.title = titl;
					parent.document.title = titl;
					//play sound on msg
					audio.play();

					$.titleAlert("New chat message!", {
					    requireBlur:true,
					    stopOnFocus:true,
					    duration:4000,
					    interval:700
					});

					parent.$.titleAlert("New chat message!", {
					    requireBlur:true,
					    stopOnFocus:true,
					    duration:4000,
					    interval:700
					});
				};
			}
			$('#in').keyup(function(e){
				if (e.keyCode == 13) {
					$.post('/post', {'message': $(this).val()});
					$(this).val('');
				}
			});
			sse();
		</script>
	</div>
</body>
</html>