{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_header %}
  
{% endblock %}

{% block content %}
<p><span class="h3 label label-default">ID: {{ entry.id }}</span><small> Created {{ entry.timestamp.strftime('%H:%m %d/%m/%Y') }}</small></p>
  	<a class="graphic-link pull-right" href="{{ url_for('graphic', id=entry.id) }}"><button class="btn btn-lg btn-warning">Graphic</button></a>
    <a class="pull-right" href="{{ url_for('edit', id=entry.id) }}"><button class="btn btn-lg btn-primary">Edit</button></a>
  <h3><span class="label label-primary">Source Link</span> <a href="{{ entry.link }}">{{ entry.link }}</a></h3>
	<h3><span class="label label-default">Facebook Headline</span> {{ entry.fbtitle|safe }}</h3>
	<h3><span class="label label-danger">Notes</span></h3> <p>{{ entry.html_content }}</p>
	<h3><span class="label label-primary">Published Link</span> <a href="{{ entry.publink }}">{{ entry.publink }}</a></h3>

	{% for fbshares in fbshares %}
	<h3><span class="label label-warning">Facebook Shares</span> {{fbshares.share_count}}</h3>
	{% endfor %}

	<h3><span class="label label-warning">Twitter Shares</span> {{twshares.count}}</h3>

  <hr>
    <form action="{{ url_for('delete', id=entry.id) }}" method="POST">
    	<button type="submit" class="btn btn-lg pull-right">Delete</button>
    </form><span class="clearfix">&nbsp;</span>
{% endblock %}
