{% extends "base.html" %}

{% block title %}Stories done{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Stories Done{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    {% if search %}
      {% set entry = entry.entry %}
    {% endif %}
      <a class="pull-right" href="{{ url_for('edit', id=entry.id) }}"><button class="btn btn-lg">Edit</button></a>
      <a class="graphic-link pull-right" href="{{ url_for('graphic', id=entry.id) }}"><button class="btn btn-lg btn-warning">Graphic</button></a>
      <h2><a href="{{ url_for('detail', id=entry.id) }}">{{ entry.title }}</a></h2>
      <p><span class="h3 label label-default">ID: {{ entry.id }}</span><small> Created {{ entry.timestamp.strftime('%H:%m %d/%m/%Y') }}</small></p>
      
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
