{% extends "base.html" %}

{% block title %}Edit entry{% endblock %}

{% block content_title %}Edit entry{% endblock %}

{% block content %}
  <form action="{{ url_for('edit', slug=entry.slug) }}" class="form-horizontal" method="post">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Headline</label>
      <div class="col-sm-10">
        <input class="form-control" id="title" name="title" type="text" value="{{ request.form.get('title', entry.title) }}">
      </div>
    </div>
    <div class="form-group">
      <label for="fbtitle" class="col-sm-2 control-label">Facebook Headline</label>
      <div class="col-sm-10">
        <input class="form-control" id="fbtitle" name="fbtitle" type="text" value="{{ request.form.get('fbtitle', entry.fbtitle) }}">
      </div>
    </div>
    <div class="form-group">
      <label for="link" class="col-sm-2 control-label">Link</label>
      <div class="col-sm-10">
        <input class="form-control" id="link" name="link" type="text" value="{{ request.form.get('link', entry.link) }}">
      </div>
    </div>
    <div class="form-group">
      <label for="imgurl" class="col-sm-2 control-label">Image Url</label>
      <div class="col-sm-10">
        <input class="form-control" id="imgurl" name="imgurl" type="text" value="{{ request.form.get('imgurl', entry.imgurl) }}">
      </div>
    </div>
    <div class="form-group">
      <label for="Content" class="col-sm-2 control-label">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="content" name="content" style="height: 300px;">{{ request.form.get('content', entry.content) }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input {% if entry.published %}checked="checked" {% endif %}name="published" type="checkbox" value="y"> Published?
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="publink" class="col-sm-2 control-label">Published Link</label>
      <div class="col-sm-10">
        <input class="form-control" id="publink" name="publink" type="text" value="{{ request.form.get('publink', entry.publink) }}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-default" href="/{{ entry.slug }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
