{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_title %}Home | <a href="{{ url_for('trends') }}"><button class="btn btn-lg btn-primary">Twitter Trends</button></a>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div id="chat_DpenCollabdesk"></div>
    <iframe src="http://newsroom.displayrun.com:8080/" style="border:0; width:100%; height:450px;"></iframe>
  </div>
  <div class="col-md-6">
    <iframe scrolling="no" style="border:none;" width="400" height="240" src="http://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=15&amp;h=240"></iframe>
    <iframe scrolling="no" style="border:none;" width="400" height="240" src="http://www.google.com/trends/hottrends/widget?pn=p3&amp;tn=15&amp;h=240"></iframe>
  </div>
</div>
{% endblock %}
