{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_title %}Home | <a href="{{ url_for('trends') }}"><button class="btn btn-lg btn-primary">Twitter Trends</button></a>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div id="chat_DpenCollabdesk"></div>
    <script type="text/javascript">
        var chatovodOnLoad = chatovodOnLoad || [];
        chatovodOnLoad.push(function() {
            chatovod.addChatToDivId("chat_DpenCollabdesk", {host: "DpenCollabdesk.chatovod.com",
                width: "100%", height: 480, defaultLanguage: "en"});
        });
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript'; po.charset = "UTF-8"; po.async = true;
            po.src = (document.location.protocol=='https:'?'https:':'http:') + '//st1.chatovod.com/api/js/v1.js?2';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
  </div>
  <div class="col-md-6">
    <iframe scrolling="no" style="border:none;" width="400" height="240" src="http://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=15&amp;h=240"></iframe>
    <iframe scrolling="no" style="border:none;" width="400" height="240" src="http://www.google.com/trends/hottrends/widget?pn=p3&amp;tn=15&amp;h=240"></iframe>
  </div>
</div>
{% endblock %}
