{% extends "base.html" %}

{% block title %}Stories{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Stories{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    {% if search %}
      {% set entry = entry.entry %}
    {% endif %}
    <h3>
      <span class="label label-default">Headline</span> <a href="{% if entry.published %}{{ url_for('detail', id=entry.id) }}{% else %}{{ url_for('edit', id=entry.id) }}{% endif %}">
        {{ entry.title }}
      </a>
    </h3>
    <h3><span class="label label-default">Facebook Headline</span> {{ entry.fbtitle }}</h3>

    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
